<div class="mt-5 flex flex-column gap-3">
  <p-card>
    <app-chart
      [chartSettings]="chartsSettings['genders']"
      [chartData]="genders$ | async"
    ></app-chart>
  </p-card>
  <p-card>
    <app-chart
      [chartSettings]="chartsSettings['pointsOfRegistrtion']"
      [chartData]="pointsOfRegistration$ | async"
    ></app-chart>
  </p-card>
  <p-card>
    <app-chart
      [chartSettings]="chartsSettings['datesOfRegistration']"
      [chartData]="datesOfRegistration$ | async"
    ></app-chart>
  </p-card>
</div>
